/Referência
/Segurança
obj
bin
credentials.txt.meta
credentials.txt
Library
Temp
Deploy
/AWSManager/Assets/Audio
/AwsMobiManager
/AWS_Manager
/AwsManagerCore
.autosave
/AWSManager/Assets/Resources/credentials_c.txt
/AWSManager/Assets/Resources/credentials_c.txt.meta
/AWSManager/Assets/Resources/credentials_j.txt
/AWSManager/Assets/Resources/credentials_j.txt.meta
AWSManager/Assets/Allegorithmic/
